Input Data Menggunakan Python -2

dr. I Gede Eka Agung Agastya Punia, S.H., M.H.

Karena dataset yang kita upload terlalu banyak, maka kita memerlukan waktu cukup banyak untuk membuat sebuah dataset untuk menganalisa sebuah data. Oleh karena itu ada baiknya kita langsung mengimpor data dari .xlsx atau .csv. untuk itu kita memerlukan untuk menginstall library Pandas

Sebelum dimulai install dahulu library pandas ke komputer dengan menulis di command prompt -py -m -pip install pandas

Lalu kita import ke dalam python menjadi sebagai berikut

In [1]:
import pandas as pd

Lalu kita save us excel kita dari nama RoyalCollege.xlsx lalu save as dengan nama RoyalCollege.csv. kemudian kita impor datanya dengan menggunakan read_csv. Pastikan file python dan csv terdapat di dalam folder yang sama

In [2]:
data = pd.read_csv('RoyalCollege.csv')

Setelah itu kita print dan lihat hasilnya

In [3]:
print (data)

        nama         jk  usia    bb     tb pendidikan  ajar
0       Karl  Laki-Laki    32  60.5  188.9     Doktor     6
1      Boris  Laki-Laki    57  50.9  185.2   Magister     2
2  Theoderic  Laki-Laki    50  49.5  179.2   Magister     3
3     Helmut  Laki-Laki    46  50.0  178.3   Magister     1
4    Wolfram  Laki-Laki    34  40.7  176.6   Magister     3
5     Marius  Laki-Laki    40  46.7  179.3   Magister     4
6  Emanuelle  Perempuan    27  45.5  165.4     Doktor     7
7  Aldebrand  Laki-Laki    63  49.7  187.4   Magister     3
8     Valmir  Laki-Laki    62  54.3  188.2   Magister     1
9   Alberich  Laki-Laki    20  32.0  183.1    Sarjana     1

In [7]:
data

        nama         jk  usia    bb     tb pendidikan  ajar
0       Karl  Laki-Laki    32  60.5  188.9     Doktor     6
1      Boris  Laki-Laki    57  50.9  185.2   Magister     2
2  Theoderic  Laki-Laki    50  49.5  179.2   Magister     3
3     Helmut  Laki-Laki    46  50.0  178.3   Magister     1
4    Wolfram  Laki-Laki    34  40.7  176.6   Magister     3
5     Marius  Laki-Laki    40  46.7  179.3   Magister     4
6  Emanuelle  Perempuan    27  45.5  165.4     Doktor     7
7  Aldebrand  Laki-Laki    63  49.7  187.4   Magister     3
8     Valmir  Laki-Laki    62  54.3  188.2   Magister     1
9   Alberich  Laki-Laki    20  32.0  183.1    Sarjana     1

Lihatlah hasil dari import data dengan menggunakan read_csv. Import data ke dalam python dapat dilakukan lebih cepat dibandingkan memasukkan datanya secara manual. Berikutnya kita akan melakukan data transformation pada python