INPUT DATA MENGGUNAKAN PYTHON

dr. I Gede Eka Agung Agastya Punia, S.H., M.H.

Dalam melakukan input data menggunakan python maka kita akan buat dengan teknik koding sederhana.
Format input kita buat sebagai berikut
data = {
    '(Nama kategori data)' : ['(data1)','(data2)',....]
}
 Kita coba input data nama dalam Royal College of Altdorf sebagai berikut

In [2]:
data = {
    'name':['Karl','Boris','Theoderic','Helmut','Wolfram','Marius','Emanuelle','Aldebrand','Valmir','Alberich']
}

Dengan begitu kita sudah menginput data "Name" dalam variabel "data". Kita lanjutkan ke berikutnya. Berikutnya adalah jenis kelamin. Tambahkan koma dibelakang bagian name. Lalu sesuaikan nama dengan jenis kelamin sehingga data tidak tertukar.

In [3]:
data = {
    'name': ['Karl','Boris','Theoderic','Helmut','Wolfram','Marius','Emanuelle','Aldebrand','Valmir','Alberich'],
    'jenis kelamin': ['Laki-Laki','Laki-Laki','Laki-Laki','Laki-Laki','Laki-Laki','Laki-Laki','Perempuan','Laki-Laki','Laki-Laki','Laki-Laki']
}

Mari kita cek apakah data kita sudah terinput dengan melihat isi variabel data dengan mengetik print(data)

In [12]:
print(data)

{'name': ['Karl', 'Boris', 'Theoderic', 'Helmut', 'Wolfram', 'Marius', 'Emanuelle', 'Aldebrand', 'Valmir', 'Alberich'], 'jenis kelamin': ['Laki-Laki', 'Laki-Laki', 'Laki-Laki', 'Laki-Laki', 'Laki-Laki', 'Laki-Laki', 'Perempuan', 'Laki-Laki', 'Laki-Laki', 'Laki-Laki']}

Dengan begitu selamat! kita telah menginput data name dan jenis kelamin ke python. akan tetapi kita dapat menyajikan data tersebut dalam bentuk dataframes. Untuk menyajikan data tersebut dalam dataframes maka kita akan mengimpor pandas kedalam python

Sebelum upload pastikan jumlah data di setiap kategori sama agar pandas tidak menunjukkan error apabila kita memasukkan data ke dalam python

Sebelum dimulai install dahulu library pandas ke komputer dengan menulis di command prompt -py -m -pip install pandas

In [4]:
import pandas as pd

Lalu kita masukkan kode ke dalam bentuk pd dengan sebagai berikut

In [5]:
df = pd.DataFrame(data)

Lalu kita print "df" dan kita lihat hasil dataframenya sebagai berikut. dan lakukan df.head() untuk melihat hasil head dataframenya

In [15]:
print(df)

        name jenis kelamin
0       Karl     Laki-Laki
1      Boris     Laki-Laki
2  Theoderic     Laki-Laki
3     Helmut     Laki-Laki
4    Wolfram     Laki-Laki
5     Marius     Laki-Laki
6  Emanuelle     Perempuan
7  Aldebrand     Laki-Laki
8     Valmir     Laki-Laki
9   Alberich     Laki-Laki

In [6]:
df

        name jenis kelamin
0       Karl     Laki-Laki
1      Boris     Laki-Laki
2  Theoderic     Laki-Laki
3     Helmut     Laki-Laki
4    Wolfram     Laki-Laki
5     Marius     Laki-Laki
6  Emanuelle     Perempuan
7  Aldebrand     Laki-Laki
8     Valmir     Laki-Laki
9   Alberich     Laki-Laki

Lihat hasil data yang kita input. Data tersebut muncul dalam bentuk tabel. Selanjutnya kita akan menggunakan pandas untuk mengimpor data dalam bentuk .xlsx dan .csv ke dalam python